<!-- header.html (Session_cookies) -->
<!-- <nav class='navbar navbar-default'> -->
{% comment %} header.html {% endcomment %}
{% load static %}
<script type="text/javascript" src="{% static "scripts/header.js" %}"></script>

<div class='header'>
    <div class='logo'>
        <img src="{% static 'images/logo.png' %}" class="logo" alt="">
    <span>尋找咖啡廳</span>
    </div>
    <div class='Lead_line'>
        <nav id="main-nav">
            <a href={% url "homepage" %}>首頁</a>
            <a href={% url "research" %}>尋找咖啡廳</a>
            <a href={% url "login-page" %} class="login-link">登入</a>
            <a href={% url "register-page" %} class="register-link">註冊</a>
            <span class="user-menu" style="display:none;">
                <a href={% url 'cafedetail:add-newcafe' %}>新增咖啡廳</a>
                <a href="#" id="logout-btn">登出</a>
            </span>
        </nav>
    </div>
</div>




