<!-- header.html (Session_cookies) -->
<!-- <nav class='navbar navbar-default'> -->
{% comment %} header.html {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static "styles/header.css" %}">
<script type="text/javascript" src="{% static "scripts/header.js" %}"></script>

<div class='header'>
    <div class='logo'>
        <img src="{% static 'images/logo.png' %}" class="logo" alt="">
    <span>尋找咖啡廳</span>
    </div>
    <div class='Lead_line'>
        <nav id="main-nav">
            <a href="/">首頁</a>
            <a href="/research/">尋找咖啡廳</a>
            <a href="/cafe/login/" class="login-link">登入</a>
            <a href="/cafe/register/" class="register-link">註冊</a>
            <span class="user-menu" style="display:none;">
                <a href="/userinfo">個人資料</a>
                <a href="/post2db">新增咖啡廳</a>
                <a href="/contact">連絡管理員</a>
                <a href="#" id="logout-btn">登出</a>
            </span>
        </nav>
    </div>
</div>




