{% extends "base.html" %}
{% block title %}登入{% endblock %}
{% load static %}
{% block extrastatic %}
	<link rel="stylesheet" href="{% static "styles/login.css" %}">
{% endblock  %}

{% block content %}
{% include "header.html" %}
<div class="top-nav"></div>
<div class="page-title">
    <h1>☕ 使用者登入</h1>
</div>
<div class="login-page-wrapper">
    <div class="login-image">
        <img src="{% static 'images/logo.png' %}" alt="Coffee Please Logo" class="logo-img">
    </div>
    <div class="login-form-wrapper">
        <div class="login-container">
            <form id="login-form">
                <label for="username">帳號</label>
                <input type="text" id="username" placeholder="輸入帳號" required>

                <label for="password">密碼</label>
                <input type="password" id="password" placeholder="輸入密碼" required>

                <button type="submit">登入</button>
            </form>
            <div id="msg"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static "scripts/login.js" %}"></script>
{% endblock %}
